# =====================
# Python
# =====================
__pycache__/
*.py[cod]

# =====================
# Virtual environments
# =====================
venv/
.env/
.venv/
.env

# =====================
# OS
# =====================
.DS_Store
Thumbs.db


.pio
.vscode/

.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch


images/*


